.DS_Store
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
.swiftpm/
icon-drafts/
.build/

# fastlane
fastlane/.env.local
fastlane/report.xml
fastlane/Preview.html
fastlane/test_output/
